In [1]:
DATA_PATH = "../data/raw/raw_data.csv"

-----

# **Libraries**

In [2]:
import pandas as pd 
import numpy as np

-------

# **Read Data**

In [3]:
df = pd.read_csv(DATA_PATH)

In [7]:
df

,time,mean_xc,mean_yc,mean_zc,mean_xg,mean_yg,mean_zg,posture,types,specimen,set
0,2024-02-11 17:08:05.200,0.013500,0.977000,-0.071000,-1.8904,2.4392,0.9388,bench,heavy,B,64.0
1,2024-02-11 17:08:05.400,-0.001500,0.970500,-0.079500,-1.6826,-0.8904,2.1708,bench,heavy,B,64.0
2,2024-02-11 17:08:05.600,0.001333,0.971667,-0.064333,2.5608,-0.2560,-1.4146,bench,heavy,B,64.0
3,2024-02-11 17:08:05.800,-0.024000,0.957000,-0.073500,8.0610,-4.5244,-2.0730,bench,heavy,B,64.0
4,2024-02-11 17:08:06.000,-0.028000,0.957667,-0.115000,2.4390,-1.5486,-3.6098,bench,heavy,B,64.0
...,...,...,...,...,...,...,...,...,...,...,...
9004,2024-02-20 19:33:27.000,-0.048000,-1.041500,-0.076500,1.4146,-5.6218,0.2926,row,medium,E,71.0
9005,2024-02-20 19:33:27.200,-0.037000,-1.030333,-0.053333,-2.7684,-0.5854,2.2440,row,medium,E,71.0
9006,2024-02-20 19:33:27.400,-0.060000,-1.031000,-0.082000,2.8416,-5.1342,-0.1220,row,medium,E,71.0
9007,2024-02-20 19:33:27.600,-0.038667,-1.025667,-0.044667,-0.2318,0.2562,1.1220,row,medium,E,71.0
9008,2024-02-20 19:33:27.800,-0.044000,-1.034000,-0.059000,1.0980,-4.0240,0.9760,row,medium,E,71.0

In [11]:
df.posture.unique()

array(['bench', 'ohp', 'squat', 'dead', 'row', 'rest'], dtype=object)

In [12]:
df.types.unique()

array(['heavy', 'medium', 'sitting', 'standing'], dtype=object)

In [13]:
df.set.unique()

array([64., 72., 40., 86., 80., 10., 74., 52., 12., 33., 77., 53., 32.,
       79., 22., 17., 69., 63., 60., 92., 57.,  7., 16., 26., 67., 75.,
       89., 23., 11., 58., 25., 43., 24., 34.,  3., 81., 85., 84., 37.,
       55.,  5.,  2., 41., 38., 78., 91., 19., 73., 48., 87., 61.,  1.,
       30., 65., 59., 20., 29., 28., 51., 83., 13., 35., 42.,  8., 56.,
        4., 45., 82., 93., 14., 88., 21., 50.,  6., 47., 36., 31.,  9.,
       39., 90., 70., 62., 66., 46., 27., 18., 49., 54., 44., 15., 71.])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9009 entries, 0 to 9008
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       9009 non-null   object
 1   mean_xc    9009 non-null   float64
 2   mean_yc    9009 non-null   float64
 3   mean_zc    9009 non-null   float64
 4   mean_xg    9009 non-null   float64
 5   mean_yg    9009 non-null   float64
 6   mean_zg    9009 non-null   float64
 7   posture    9009 non-null   object
 8   types      9009 non-null   object
 9   specimen   9009 non-null   object
 10  set        9009 non-null   float64
dtypes: float64(7), object(4)
memory usage: 774.3+ KB

In [10]:
df.describe()

,mean_xc,mean_yc,mean_zc,mean_xg,mean_yg,mean_zg,set
count,9009.000000,9009.000000,9009.000000,9009.000000,9009.000000,9009.000000,9009.000000
mean,0.038977,0.069961,0.104512,0.791898,-1.881280,0.828841,45.055611
std,0.274292,0.912476,0.332688,22.252277,17.543199,23.185431,25.946807
min,-0.838000,-1.545500,-0.619333,-235.524400,-187.951200,-338.170800,1.000000
25%,-0.111000,-0.949667,-0.125500,-9.597400,-6.475600,-4.573200,24.000000
50%,0.016000,0.578000,-0.030000,1.182800,-1.975600,0.536600,45.000000
75%,0.118500,0.873333,0.336500,10.438800,2.780400,6.036600,64.000000
max,1.464000,1.640000,1.049000,171.804800,233.183200,269.085400,93.000000

In [1]:
%env CLEARML_WEB_HOST=https://app.clear.ml
%env CLEARML_API_HOST=https://api.clear.ml
%env CLEARML_FILES_HOST=https://files.clear.ml
%env CLEARML_API_ACCESS_KEY=&lt;You’re API access key&gt;
%env CLEARML_API_SECRET_KEY=&lt;You’re API secret key&gt;

env: CLEARML_WEB_HOST=https://app.clear.ml
env: CLEARML_API_HOST=https://api.clear.ml
env: CLEARML_FILES_HOST=https://files.clear.ml
env: CLEARML_API_ACCESS_KEY=&lt;You’re API access key&gt;
env: CLEARML_API_SECRET_KEY=&lt;You’re API secret key&gt;